#airport-status {
  position: relative;
  font-size: 1.3em;
  line-height: 1.8em;
  &.airport-open {
    background: #c3f135;
    .airport-status__icon {
      background-image: url('/img/icon-check-circle.svg');
    }
  }
  &.airport-close {
    background: #ff6838;
    .airport-status__icon {
      background-image: url('/img/icon-close-circle.svg');
    }
  }
  &.airport-error {
    background: grey;
  }
  .content-block__text {
    padding: 1em 1em 0 1em;
  }
  .airport-status__icon {
    display: block;
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    filter: brightness(0) invert(1);
  }
}
