.footer {
  width: 100%;
  max-width: 1150px;
  margin: 30px auto;
  &__address {
    text-transform: uppercase;
    text-align: center;
    color: #abb7bd;
  }
  &__text {
    @media (max-width: 1000px) {
      display: block;
    }
  }
  &__pipe {
    margin: 0 12px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  a {
    color: #abb7bd;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}