.navigation {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: rgba(52,66,72, 0.85);
  padding: 0 2rem;
  ul {
    display: flex;
    li {
      margin: 0 12px;
      &:before {
        content: "|";
        color: #abb7bd;
        margin-left: -12px;
        margin-right: 12px;
      }
      &:first-child {
        margin-left: 0;
        &:before {
          content: none;
        }
      }
      a {
        font-weight: 700;
        color: #abb7bd;
        line-height: 65px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover,
        &.active {
          color: #fff;
        }
      }
    }
  }
}