.navigation {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: rgba(52,66,72, 0.85);
  padding: 0 2rem;
  @media (max-width: 1100px) {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    padding: 0;
  }
  ul {
    display: flex;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
    li {
      margin: 0 12px;
      @media (max-width: 1100px) {
        margin: 0;
        text-align: center;
      }
      &:before {
        content: "|";
        color: #abb7bd;
        margin-left: -12px;
        margin-right: 12px;
        @media (max-width: 1100px) {
          display: none;
        }
      }
      &:first-child {
        margin-left: 0;
        &:before {
          content: none;
        }
      }
      a {
        display: inline-block;
        font-weight: 700;
        color: #abb7bd;
        line-height: 65px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: color 0.35s;
        transition: color 0.35s;
        @media (max-width: 1100px) {
          line-height: 36px;
        }
        &.icon {
          height: 65px;
          line-height: 65px;
          width: 36px;
        }
        svg {
          fill: #abb7bd;
          -webkit-transition: all 0.35s;
          transition: all 0.35s;
        }
        &:hover,
        &.active {
          color: #ffffff;
          svg {
            fill: #ffffff;
          }
        }
      }
    }
  }
  &__close {
    display: none;
    @media (max-width: 1100px) {
      display: block;
    }
  }
}

.mobile-navigation {
  display: none;
  height: 65px;
  background: rgba(52,66,72, 0.85);
  @media (max-width: 1100px) {
    display: block;
  }
  &__label {
    display: block;
    padding: 0 calc(3rem + 35px);
    line-height: 65px;
    font-weight: 700;
    color: #abb7bd;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      left: 2rem;
      top: 18px;
      height: 30px;
      width: 36px;
      background: linear-gradient(
        to bottom,
        #abb7bd, #abb7bd 16%,
        transparent 16%, transparent 41%,
        #abb7bd 41%, #abb7bd 57%,
        transparent 57%, transparent 85%,
        #abb7bd 85%, #abb7bd 100%
      );
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    color: #abb7bd;
  }
}

body {
  &.show-mobile-navigation {
    height: 100vh;
    overflow: hidden;
    .navigation {
      display: flex !important;
    }
  }
}