body {
  background: #344248;
}

.header-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50px;
  right: 50px;
}

.page-wrapper {
  width: 100%;
  max-width: 1150px;
  margin: -65px auto 0 auto;
}

.page {
  position: relative;
  width: 100%;
}

.page .intro__text {
  max-width: 850px;
  margin-bottom: 35px;
  p {
    margin-bottom: 1em;
  }
}

.page .content {
  background: #fff;
  padding: 35px 0;
}

.content .container-fluid:not(.intro) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:nth-child(2) .container__title {
    display: none;
  }
  &:after {
    position: absolute;
    content: "";
    width: calc(100% - 4rem);
    border-bottom: 1px dotted #344248;
    margin-top: 20px;
  }
  &:last-child:after {
    content: none;
  }
}

.content-block {
  margin-bottom: 35px;
  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    margin: 15px 0;
  }
  &__links {
    margin-top: 15px;
  }
}