@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  color: #30424d;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 35px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
}

h3 {
  font-size: 20px;
}
