<!doctype html>
<html lang="de">
  {{ partial "head" . }}
  <body>
    {{ partial "header-image" . }}
    <div class="logo">
      <a href="/">
        <img src="/img/mfgt_logo.svg" alt="Logo Motorfluggruppe Thurgau" />
      </a>
    </div>
    <div class="page">
      <div class="page__inner">
        {{ partial "navigation" . }}
        <div class="content">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
      {{ partial "footer" . }}
    </div>
  </body>
</html>
