{{ define "main" }}

{{ partial "intro" (dict "title" .Title "description" .Description) }}

{{ partial "categoryblock" (dict "heading" "Flotte" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Charter + Reservation" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Kurse + Veranstaltungen" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Agenda" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Merchandise" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Berichte" "entries" .Pages ) }}

{{ partial "categoryblock" (dict "heading" "Verein" "entries" .Pages ) }}

{{ end }}
