<div class="col-xs-12 col-sm-6 content-block">
  <div class="content-block__title">
    <h3>Flugplatzstatus</h3>
  </div>
  <div id="airport-status">
    <div class="content-block__text">
      <p id="airport-status__message"></p>
    </div>
    <br>
    <div class="content-block__text">
      <p>
        <span id="airport-status__last-update-date"></span> -
        <span id="airport-status__last-updated-by"></span>
      </p>
    </div>
    <div class="airport-status__icon"></div>
  </div>
</div>
