<div class="col-xs-12 col-sm-6 content-block">
  <div class="content-block__title">
    <h3>Flugplatzstatus</h3>
  </div>
  <div id="airport-status" style="--aspect-ratio:1.333/1;">
    <div class="airport-status__content">
      <div class="content-block__text">
          <p id="airport-status__message"></p>
        </div>
        <div class="content-block__text">
          <p>
            <span id="airport-status__last-update-date"></span> -
            <span id="airport-status__last-updated-by"></span>
          </p>
        </div>
        <div class="airport-status__icon"></div>
    </div>
  </div>
</div>
