<div class="col-xs-12 col-sm-6 content-block">
  <div class="content-block__title">
    <h3>Flugplatzstatus</h3>
  </div>
  <div id="airport-status">
    <div class="airport-status__body">
      <p id="airport-status__message"></p>
      <p class="airport-status__meta">
        <span id="airport-status__last-update-date"></span> –
        <span id="airport-status__last-updated-by"></span>
      </p>
      <p class="airport-status__contact"><a href="mailto:info@mfgt.ch">info@mfgt.ch</a></p>
    </div>
    <div class="airport-status__footer">
      <div class="airport-status__icon"></div>
      <span id="airport-status__label"></span>
    </div>
  </div>
</div>
