<footer class="footer">
  <div class="footer__content">
    <address class="footer__address">
      <span class="footer__text">
        Motorfluggruppe Thurgau
      </span>
      <span class="footer__pipe">|</span>
      <span class="footer__text">
          Flugplatz
      </span>
      <span class="footer__pipe">|</span>
      <span class="footer__text">
          9506 Lommis
      </span>
      <span class="footer__pipe">|</span>
      <span class="footer__text">
          T +41 (0)53 366 33 33
      </span>
      <span class="footer__pipe">|</span>
      <span class="footer__text">
          <a href="mailto:info@mfgt.ch">info@mfgt.ch</a>
      </span>
    </address>
  </div>
</footer>
