{{ $currentSectionCoverImages := $.CurrentSection.Params.coverImages }}

{{ $sectionPage := .Site.GetPage .Section }}
{{ $sectionCoverImages := $sectionPage.Params.coverimages }}

<div class="header-images-wrapper {{ if ne .Kind "page" }}header-images-wrapper--fullpage{{ end}}">
  <div class="header-images header-images--slider">
    {{ if isset .Params "coverImages" }}
      {{ range .Params.coverImages }}
      <div class="header-images__item" style="background-image: url('{{ .image }}'); background-position: {{ .positionx }}% {{ .positiony }}%"></div>
      {{ end }}
    {{ else if $currentSectionCoverImages }}
      {{ range $currentSectionCoverImages }}
        <div class="header-images__item" style="background-image: url('{{ .image }}'); background-position: {{ .positionx }}% {{ .positiony }}%"></div>
      {{ end }}
    {{ else if $sectionCoverImages }}
      {{ range $sectionCoverImages }}
        <div class="header-images__item" style="background-image: url('{{ .image }}'); background-position: {{ .positionx }}% {{ .positiony }}%"></div>
      {{ end }}
    {{ else }}
      <div class="header-images__item" style="background-image: url('{{ .Site.Params.coverImage }}')"></div>
    {{ end }}
  </div>
</div>
