{{ range . }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ .Title }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .Pages }}
        <div class="col-xs-12 col-sm-6 content-block">
          <div class="content-block__image">
            <img src="{{ .Params.image }}" />
          </div>
          <div class="content-block__title">
            <h3>{{ .Title }}</h3>
          </div>
          <div class="content-block__text">
            <p>{{ .Description }}</p>
          </div>
          <div class="content-block__links">
            {{ if isset . "details" }}
              <a class="btn outline" href="{{ .Permalink }}">
                Details
              </a>
            {{ end }}
            {{ if .Params.subscriptionUrl }}
              <a class="btn cta" href="{{ .Params.subscriptionUrl }}">
                Anmelden
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}